/* Contenedor del PDF */
.pdf-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    height: 100%;
    background-color: #f5f5f5; 
    overflow-y: auto;
    padding: 20px 0; 
    box-sizing: border-box;
}

/* Estilo del scrollbar vertical */
.pdf-container::-webkit-scrollbar {
    width: 12px;
}

.pdf-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.pdf-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px; 
    border: 3px solid #f1f1f1; 
}

.pdf-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

/* Página del PDF */
.pdf-page {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 10px 0; 
    background-color: white; 
}

.screen:not(.rule-mode) .pdf-container {
    display: none;
}

.screen:not(.admin-mode) .admin-content {
    display: none;
}


.screen.rule-mode {
    background-color: #f5f5f5; 
    background-image: none; /* Eliminar cualquier imagen de fondo */
}