body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: none; /* Eliminar la imagen de fondo del cuerpo */
    position: relative;
    background-size: cover;
    background-position: center;
}

.tablet {
    width: 1265px; /* Ajustar el ancho del marco de la tablet */
    height: 850px; /* Ajustar la altura del marco de la tablet */
    position: absolute;
    background-image: url('/fivem_tablet/html/images/tablet.png');
    background-size: contain; /* Ajustar la imagen del marco para que se ajuste completamente */
    background-position: center;
    background-repeat: no-repeat; /* Evitar que la imagen del marco se repita */
    overflow: hidden;
    z-index: 1;
}

.screen {
    width: 1148px; /* Ajustar para no superponer el borde de la tablet */
    height: 722px; /* Ajustar para no superponer el borde de la tablet */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    position: absolute;
    top: 44px;
    left: 35px;
    right: 0px;
    bottom: 3px;
    z-index: 0;
    border-radius: 1.5%;
    background-image: url('/fivem_tablet/html/images/fondos/16.jpg'); /* Imagen de fondo global */
    background-color: transparent;
}

.app {
    width: 100px;
    height: 120px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.app img {
    width: 60px;
    height: 60px;
}

.app span {
    margin-top: 8px;
    font-size: 16px;
    color: #000;
}